<nb-card size="medium">

  <nb-card-header>
    <span>The 5 teams who have lost the most number of matches</span>
  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let item of data">
      <div class="col-xxl-12">
        <div class="row">

          <div class="col-xxl-6">
            <div class="visited-pages-count">
              <div class="caption">Team</div>
              <div>{{ item[0] }}</div>
            </div>
          </div>
          <div class="col-xxl-6">
            <div class="visited-pages-count">
              <div class="caption">Losses</div>
              <div class="value">{{ item[1] }}</div>
            </div>
          </div>
        </div>
      </div>


    </nb-list-item>
  </nb-list>

</nb-card>
