<div class="row">

  <div class="col-xxl-6">
    <div class="row">
      <div class="col-xxl-6">
        <ngx-progress-section></ngx-progress-section>
      </div>
      <div class="col-xxl-6">
        <ngx-user-activity></ngx-user-activity>
      </div>
    </div>
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>

  </div>
  <div class="col-xxl-6">
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-pie-chart></ngx-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ngx-ecommerce-charts></ngx-ecommerce-charts>

<nb-card>
  <nb-card-header>Bar</nb-card-header>
  <nb-card-body>
    <ngx-bar-chart></ngx-bar-chart>
  </nb-card-body>
</nb-card>
