<div class="row">

  <div class="col-xxl-6">
    <div class="row">
      <div class="col-xxl-6">
<!--        <ngx-total-played-result></ngx-total-played-result>-->
      </div>
      <div class="col-xxl-6">
<!--        <ngx-total-played-city></ngx-total-played-city>-->
      </div>
    </div>
<!--    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>-->

  </div>
  <div class="col-xxl-6">
<!--    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>-->
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
<!--        <ngx-pie-chart></ngx-pie-chart>-->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ngx-total-home-goals-bar></ngx-total-home-goals-bar>
